%h1
  Listing Clays
%p
  = link_to('Add New Clay', new_clay_path)
%table
  %tr
    %th
      Name
    %th
      Description
    %th
      Brand Name
    %th{ colspan: 3 }
  - @clays.each do |clay|
    %tr
      %td
        = clay.name
      %td
        = clay.description
      %td
        = clay.brand_name
      %td
        = link_to('Show', clay_path(clay))
      %td
        = link_to('Edit', edit_clay_path(clay))
      %td
        = link_to('Destroy', clay_path(clay), method: :delete, data: { confirm: 'Are you sure?' })
