.nested-fields
  .field
    = f.label :glaze_id
    %br
    = f.collection_select(:glaze_id, Glaze.all, :id, :name)
  .field
    = f.label :coat_type
    %br
    = f.collection_select(:coat_type, Layer::COAT_TYPES, :to_s, :to_s)
  .field
    = f.label :number_of_coats
    = f.number_field(:number_of_coats, { value: f.object.number_of_coats || 1, min: 1 })
  = link_to_remove_association 'remove layer', f
