%p
  %strong
    Name:
  = @recipe.name
%p
  %strong
    Description:
  = @recipe.description
= render partial: "recipes/layers/add_layer", locals: { recipe: @recipe }
.lazy-load#layers{ data: { path: recipe_layers_path(recipe_id: @recipe.id) } }
%p
  = link_to('Back', recipes_path)
  = link_to('Edit', edit_recipe_path(@recipe))
